.container-box {
    margin-top : 5%;
    margin-left: 2%;
    min-height: calc(100vh - 40px) !important;
}

.table-head{
    font-size : 2vh;
    font-weight : 500;
    background-color: #000A28;
    color : #ffffff;
}

.headings {
    font-size : 1.9vh;
    font-weight : 500;
    background-color: #000A28;
    color : #ffffff;
}

.box {
    width : 90%;
}

/* .wrapper {
    padding-top : 0%!important;
    margin-top : 0%!important;
    top : 0;
} */

/* .navigation-buttons{
    width: auto; 
    border-radius : 60px;
}  */