.table_1 {

    margin-top : 2%;
    margin-left: 5%;
    margin-bottom: 2%!important;
    /* min-height: calc(100vh - 70px) !important; */

}

 .txt {

    background-color: #E0EAF9;
    border : none;
    outline: 0;
    width : 50%;
    margin-left: 5%;
    
} 

.txtf{

    background-color: #E0EAF9;
    border : none;
    outline: 0;
    width : 50%;

}

input[type = "checkbox"] {
    margin-left: 25%;
}

.view {

    color : blue;
    font-size: 2vh;
    padding-left: 8%;
}

.table_2 {

    margin-left: 5%;
    margin-top : 2%!important;
}

.wrapper {
    text-align: center;
}

.btn {
    margin-left: 2%;
    width : 110px;
   /* background-color: #710044;
    border-radius: 60%;*/
    
}