/* .container-box {
    margin-top : 2% !important;
    left : 30%!important;

} */

.table-responsive {
    /* margin-top : 2%; */
    width : 90%;
    height : 30%;
} 

/* .mapper-table {
    left : 20% !important;
    right : 50% !important;
} */

.txt {

    /* background-color: #E0EAF9; */
    outline: 0;
    width : 50%;
    margin-left: 5%;  
} 

input[type = "checkbox"] {
    margin-left: 25%;
}
.button-select {
    width : 9vw;
    font-size : 2vh;
}
.wrapper {
    text-align: center;
}

.btn {
    margin-left: 2%;
    width : auto;
   /* background-color: #710044;
    border-radius: 60%;*/
    
}