.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #000A28;
    top: 0;
    position: sticky;
    z-index: 100;
}

.burger-menu {
    width: 50px;
    object-fit: contain;
    margin: 5px 20px 0;
    color: #FFFF;
    font-size: 20px;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin-left: 1.5em;
    color: #FFFF;
    font-size: 20px;
}

.search-bar {
    display: flex;
    flex: 1;
    border-radius: 20px;
    justify-content: center;
    outline: 0;
}

.search-bar-input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 70em;
}

.search-icon {
    fill: #FFF;
}