.container-box {
    margin-top: 2%;
    margin-left : 0;
    min-height: calc(100vh - 70px) !important;
}

.master-header {
    text-align: center;
    margin-bottom: 2%;
    margin-top : 1%;
    font-family : Roboto;
    font-weight : 530;

}

.headings {
    font-size : 3vh;
}

.mapping-option{
    background-color: #000A28;
    color: white;
    outline: 0;
    border: 0;
    padding: 1em 1.5em;
    font-size: 1em;
    width: auto;
    margin-top: 0.7em;
    border-radius: 4px !important;
    text-align: center;
}

.mapping-option:hover{
    background-color: #06517B;
    color: white;
    text-decoration: none;
}

.mapping-options{
    display: flex;
    padding-left: 10%;
    margin-bottom: 2%;
    margin-top : 1%;
}

.manual-table {
    margin-top : 1% !important;
    font-size : 2vh;
    font-weight : 530;

}

.headings {
    background-color: #000A28;
    color : #ffffff;
    font-size : 2.5vh;
    
}

/* .w3-container {
    overflow-x : auto;
    overflow-y : auto; 
} */

.xmlCard {
    margin-top : 2%;
    height : 40vh;
    width: 65%!important;
    display: inline-block;
    border: 5%;
    box-shadow: 2px 4px #ccc;
    border-radius: 5px;
    overflow-x : auto;
    overflow-y : auto; 
  }

  p {
      font-size : 2.2vh;
  }

  .w3-container {
      margin-top : 2%;
      margin-left : 1%;
      padding-left: 2%!important;
      right : 4vw;
  }

  .btn {
    outline: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #710044;
  }

  