.container {

    margin-left: 20%;
    max-width: 80% !important;
    min-height: calc(100vh - 70px) !important;
    
    
}

.col {
    text-align: center;
}

.btn-circle.btn-xl { 

    width: 75px; 
    height: 75px; 
    padding: 10px 16px; 
    border-radius: 50%; 
    font-size: 12px; 
    text-align: center; 
    background: #03002C;
    margin: 6%;
    outline : 0;

} 

.API-rectangle {

    position : relative;
    display: flex;
    width : 90%;
    height : 1000px;
    background: #F3F6FF;
    margin-right : 0%;
    margin-bottom : 5%;
    margin-left : 0%;
    outline : 0;

  }

  .Giix-rectangle {

    position : relative;
    display: flex;
    width : 90%;
    height : 1000px;
    background: #F3F6FF;
    margin-right : 0%;
    margin-bottom : 5%;
    margin-left : 0%;
    outline : 0;

  }

  .Insurer-rectangle {

    position : relative;
    display: flex;
    width : 90%;
    height : 1000px;
    background: #F3F6FF;
    margin-right : 0%;
    margin-bottom : 5%;
    margin-left : 0%;
    outline : 0;

  }

  .API-rectangle h4 {
    padding-top: 2%;
    color: #000000;
    
}

.Giix-rectangle h4 {
    padding-top: 2%;
    color: #000000;
    
}

.Insurer-rectangle h4 {
    padding-top: 5%;
    color: #000000;
    
}