nav {
    top: 6% !important;
    background: #03002C !important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.55) !important;
    position: fixed !important;
}

@media only screen and (max-width: 600px) {
    nav {
        top: 8% !important;
        bottom: -5% !important;
    }
}

