.searchbar {
 
    text-align : center;
    z-index : -1;
   
}

.searchbar input {

    margin : 3vw 0;
    position: relative;
    padding : 0.5vw 1vw;
    border-radius : 7%;
    font-family: source-code-pro, Menlo, Monaco, Consoles, "Courier Mew";
    text-align: center;
    

}