.container {
    margin-left: 20% !important;
    max-width: 80% !important;
    min-height: calc(100vh - 70px) !important;
}

.col {
    text-align: center;
}

.circle-inner-text {
    background: #03002C;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 3%;
    margin: 5%;
}

