.container {
    animation: fade 0.7s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 12em;
    height: 3em;
    background: #710044;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 70px;
    border: none;
    font-weight: bold;
    font-size: 0.7em;
    color: #FFF;
    margin-top: 1em;
}


.btn:hover {
    background: #560034;
    color: #FFFFFF;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover{
    color: inherit;
}

.container-box {
    min-height: calc(100vh - 70px) !important;    
}

.completed-status-bar{
    position: relative;
    height: 3em;
    width: 100%;
    display: flex;
}

.left-name{
    position: absolute;
    margin: 10px;
    font-size: 1.5em;
    left: 10px;
}
.status-icons{
    position: absolute;
    display: flex;
    float: right;
    right: 10px;
}
.status-icon-complete{
    margin: 10px;
    width: 2em;
    height: 2em;
    border-radius: 50% !important;
    background: #010e35;
}
.status-icon-active{
    margin: 10px;
    height: 2em;
    width: fit-content;
    padding: 6px;
    border-radius: 20px !important;
    background: #031d6b;
    color: rgb(206, 206, 206);
}
.status-icon-incomplete{
    margin: 10px;
    width: 2em;
    height: 2em;
    border-radius: 50% !important;
    background: #80889e;
}
