.login {
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
}

.login-container {
    position: relative;
    left: 0;
    top: 0;
    background: url('../../Images/login_background.jpg') center;
    background-size: cover;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-block {
    position: absolute;
    background: rgba(0, 14, 29, 0.8);
    width: 25em;
    height: 26em;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.login-logo {
    position: absolute;
    margin-top: 30%;
    color: #FFF;
    font-size: 2em;
}

.login-form {
    position: absolute;
    top: 42%;
}

.input {
    border: none;
    outline: 0;
    text-align: center;
    font-size: 0.85em;
    margin: 0.6em;
    width: 20em;
    height: 3.5em;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 90px;
}

.login-button {

    width: 12em;
    height: 3em;
    background: #560034;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 70px;
    border: none;
    font-weight: bold;
    font-size: 0.7em;
    color: #FFF;
    margin-top: 1em;
    outline: 0;
}

.login-button:hover {
    cursor: pointer;
    background: #710044;

}

.login-link {
    position: absolute;
    text-decoration: none;
    color: #FFF;
    top: 72%;
    width: 9.5em;
    height: 1.6em;

}

.login-link:hover {
    color: #B1B1B1;
    text-decoration: none;
}

.reset-link {
    position: absolute;
    text-decoration: none;
    color: #FFF;
    top: 86%;
    width: 9.5em;
    height: 1.6em;

}

.reset-link:hover {
    color: #B1B1B1;
    text-decoration: none;
}