
.circle{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #000A28;   
    margin: 0 3.3em 1.5em 3.3em;
    transition:all ease-in-out .2s;
}

.setup-icons{
    margin-top: 0.35em;
}

.text{
    text-decoration: none;
    color: #000;
}
.text:hover{
    color:#303030;
}

.active-tabs .circle{
    background-color: #42b3f4;
}

.link{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link:hover{
    text-decoration: none;
}

.functionality{
    /* background-color: lightcoral; */
    height: auto;
}

.content-area{
    position: absolute;
    background-color: #F3F6FF;
    margin-top: 2em;
    width: 100%;
    min-width: 15em;
    min-height: 10em;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.content-text{
    margin: 3em;
}

.content-links{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    left: 2.5%;
}

.second-tabs {
    margin-top: 1em;
    margin-left: 1.5em;
    font-size:15px;
    background:transparent;
    border:none;
    outline:none;
    padding:5px 10px ;
    cursor:pointer;
    color:rgb(112, 112, 112);
    transition:all ease-in-out .2s;
    border-bottom:2px solid transparent;
    border-radius: 0 !important;
}

.second-tabs:hover{
    text-decoration: none;
    border-bottom:2px solid #42b3f4 ;
    color:black;
} 

.active-second-tabs{
    text-decoration: none;
    border-bottom:2px solid #42b3f4 ;
    color:black;
}

.inner-body-content{
    position: absolute;
    margin-top: 6em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}